fastapi
uvicorn[standard]
SQLAlchemy
psycopg[binary]
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
alembic
beautifulsoup4
requests
lxml
cloudinary
python-dotenv